name: CI do Portfólio Pessoal

on:
  push:
    branches: [main, develop, release]
  pull_request:
    branches: [main, develop, release]

jobs:
  validate_code:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Instalar Ferramentas de Lint
        run: |
          npm install -g htmlhint

      - name: Validar HTML
        run: htmlhint ./**/*.html

      - name: Confirmação do Sucesso do CI
        run: echo "CI finalizado com sucesso. Deploy será feito pelo Vercel."
